.dialogs {
    display: flex;
    padding: 2%;
}

.items {
    margin-left: 5%;
}

.dialogs a {
    color: black;
    text-decoration: none;
}

.dialogs a:hover {
    color: #8B4513;
    text-decoration: underline;
}

.dialogs a.active {
    color: #CD853F;
}

.items button {
    background-color: #CD853F;
    border: none;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
}

.items button:hover {
    box-shadow: #000 4px 4px 2px;
}

.items button:active {
    outline: none;
}