.posts {
    padding: 10px;
}

.posts button {
    background-color: #c894c9;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #3b003b;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
}
.posts button:hover {
    box-shadow: #3b003b 4px 4px 2px;
}

.posts button:active {
    outline: none;
}