.header {
    grid-area: h;
    background-color: #c894c9;
    padding: 3px 5px;
    border-radius: 5px;
    box-shadow: #a694c9 4px 4px 2px;
}

.header img {
    width: 50px;
    border-radius: 50%;
}
.loginBlock {
    float: right;
}

.loginBlock a {
    color: black;
    text-decoration: none;
}