.header {
    grid-area: h;
    background: linear-gradient(to left, #c0c0c0, #000);
    padding: 3px 5px; 
}

.header img {
    width: 50px;
    border-radius: 50%;
}
.loginBlock {
    float: right;
}

.loginBlock a {
    color: black;
    text-decoration: none;
}