.navbar {
    grid-area: n;
    background: linear-gradient(to top, #c0c0c0, #3CB371);
    padding: 10px;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar a:hover {
    color: #B22222;
    text-decoration: underline;
}

.navbar a.active {
    color: #8B0000;
}

.navbar .sidebar {
    display: inline-block;
    padding: 3px;
}

.sidebar img {
    width: 50px;
    border-radius: 50%;
}
