.navbar {
    grid-area: n;
    background-color: #c894c9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #a694c9 4px 4px 2px;
}

.navbar a {
    color: black;
    text-decoration: none;
}
.navbar a:hover {
    color: #3b003b;
    text-decoration: underline;
}
.navbar a.active {
    color: darkmagenta;
}

.navbar .sidebar {
    display: inline-block;
    padding: 3px;
    font-family: Chilanka-Regular;
}

.sidebar img {
    width: 50px;
    border-radius: 50%;
}
