.navbar {
    grid-area: n;
    background-color: darkgreen;
    padding: 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
}
.navbar a:hover {
    color: maroon;
    text-decoration: underline;
}
.navbar a.active {
    color: darkmagenta;
}

.navbar .sidebar {
    display: inline-block;
    padding: 3px;
}

.sidebar img {
    width: 50px;
    border-radius: 50%;
}
