
.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            'h h'
            'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.content {
    grid-area: c;
    background: linear-gradient(to top, #fff, #F5F5F5);
    
}

.content img {
    width: 100%;
}

.greenBtn {
    background: linear-gradient(to top, #b1b1b1, #3CB371);
    border: none;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;

}
.greenBtn:hover {
    box-shadow: #000 4px 4px 2px;
}

.greenBtn:active {
    outline: none;
}








